@model AsopaabiOnline.UI.Models.CartViewModel

@{
    ViewBag.title = "Carrito de Compras";
}




<div class="card">
    <div class="card-header text-center"> <h4 class="card-title ">@ViewBag.title</h4></div>

    <div class="m-4">

        <form id="formCarrito">
            <table class="table table-stripedd">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th scope="col" width="200px">
                            Producto
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.producto.Precio)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.producto.Cantidad)
                        </th>
                        <th scope="col">
                            Subtotal
                        </th>
                        <th scope="col">
                            Opciones
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @{ int rowNumber = 0; }
                    @foreach (var producto in @ViewBag.cart)
                    {
                        <tr>
                            <td>
                                @(rowNumber += 1)
                            </td>
                            <td>
                                <span class=" badge-pill badge-secondary mt-5"> Nombre:@producto.Nombre</span>
                                <div>
                                    <label style="margin-right:1px;">
                                        <img class="card-img-bottom " src="~/imagenes/@producto.Imagen" asp-append-version="true" />

                                    </label>
                                </div>
                            </td>
                            <td>
                                @ViewBag.simboloDeColon  @producto.Precio
                            </td>
                            <td>

                                @producto.Cantidad
                            </td>
                            <td>
                                <span class="badge badge-pill badge-info">
                                    @ViewBag.simboloDeColon  @producto.Subtotal
                                </span>

                            </td>

                            <td>

                                <a asp-action="QuitarDelCarrito" asp-controller="CarritoDeCompras" asp-route-id="@producto.Id" class="btn btn-lg">
                                    <i class="fas fa-minus-circle text-danger"></i>
                                </a>

                            </td>


                        </tr>
                    }

                </tbody>

            </table>
            @if (Enumerable.Count(@ViewBag.cart) < 1)
            {
                <h4 style="text-align:center;">No hay productos en el carrito</h4>

            }
            <hr />
            <input hidden value="@ViewBag.total" name="total" class="form-control" />
            <h5 class="text-right">Total:    @ViewBag.simboloDeColon  @ViewBag.total</h5>
            <br />
            <hr />
            <partial model="Model.pedido" name="~/Views/Shared/_PedidoPartial.cshtml" />

            <button type="submit" style="margin-top:5%;" class="btn btn-info  btn-block">Generar pedido</button>




            <div class="modal fade" id="gPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Generar Pedido</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Usted está a punto de enviar su pedido a Asopaabi, le recordamos que una vez enviado no podrá cancelarlo.
                            ¿Desea enviarlo de todos modos?
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                            <button type="submit" id="enviarPedido" class="btn btn-primary" >
                              
                            </button>

                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>



<script type="text/javascript">
    $('#formCarrito').on('submit', function (e) {
        $('#gPedido').modal('show');
        e.preventDefault();
      
    });

   

    $("#enviarPedido").click(() => {
       
            $.ajax({
                type: "POST",
                url: "/CarritoDeCompras/GenerarPedido",
                data: $('#formCarrito').serialize(),
                success: function (response) {
                    $('#gPedido').modal('hide');
                    console.log(response)
                    window.location.href = response.redirectUrl

                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });

       
       
    })
        
  
</script>
