@model AsopaabiOnline.UI.Models.User

@{
    ViewBag.Title = "Editar usuario";
}



<div class="row justify-content-md-center">
    <div class="card w-75">
        <h5 class="card-header text-center"> Usuario</h5>

        <div class="card-body">


            <dl class="row">

                <dt class="col-sm-2">
                   Cédula
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DNI)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserType)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomerType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomerType)
                </dd>

                <dt class="col-sm-2">
                    <label>Rol </label>

                </dt>
                <dd class="col-sm-10">

                    @foreach (var roles in @ViewBag.Roles)
                    {

                        <h6>@roles</h6>


                    }
                </dd>


            </dl>


        </div>
    </div>

    <br />
    <br />



    <div class="card  w-75">
        <div class="card-header text-center">
            <h5> Actualizar</h5>
        </div>

        <div class="card-body">
            <form asp-controller="Administrador" asp-action="EditUser" method="post" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br />

                <div class="form-group">
                    <label asp-for="CustomerType" class="control-label"></label>
                    <select asp-for="CustomerType" asp-items="Html.GetEnumSelectList<AsopaabiOnline.Modelo.TipoDeCliente>()" class="form-control">
                        <option selected="selected" disabled value="">Seleccione una opción</option>
                    </select>
                    <span asp-validation-for="CustomerType" class="text-danger" s></span>

                </div>
                <div class="form-group">
                    <label asp-for="UserType" class="control-label"></label>
                    <select asp-for="UserType" asp-items="Html.GetEnumSelectList<AsopaabiOnline.UI.Models.Enums.UserType>()" class="form-control">
                        <option selected="selected" disabled value="">Seleccione una opción</option>
                    </select>
                    <span asp-validation-for="UserType" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" data-toggle="modal" data-target="#enable" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">Habilitar</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" data-toggle="modal" data-target="#disable" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Deshabilitar</label>
                    </div>
                </div>


                <input type="submit" value="Guardar" class="btn btn-success btn-block" />


            </form>




            <div class="modal" id="disable" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Deshabilitar</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>¿ Esta seguro que desea deshabilitar al usuario @Model.Name ? </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                            <form method="post" asp-action="Disable">
                                <input asp-for="Id" hidden />
                                <button type="submit" class="btn btn-primary">SI</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="enable" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Habilitar</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>¿ Esta seguro que desea habilitar al usuario @Model.Name ? </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                            <form method="post" asp-action="Enable">
                                <input asp-for="Id" hidden />
                                <button type="submit" class="btn btn-primary">SI</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>





        <div class="card-footer">
            <a class="btn btn-secondary btn-block" asp-action="UserList"> Volver </a>
        </div>
    </div>
</div>




