@model IEnumerable<AsopaabiOnline.UI.Models.User>



@{
    ViewBag.Title = "Lista de usuarios";
}

<h2> @ViewBag.Title</h2>





@if (Model.Any())

{

<div class="card">
    <div style="margin:15px;">

        <div class="card-header">
            <a class="btn btn-success mb-3" style="width:auto" asp-action="Register" asp-controller="Cuenta"> <i class="fas fa-user-plus"></i> Registrar un usuario nuevo</a>

        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <label>DNI</label>
                    </th>
                    <th>
                        <label>Nombre</label>
                    </th>
                    <th>
                        <label>Apellido</label>
                    </th>
                    <th>
                        <label>Email</label>
                    </th>
                    <th>
                        <label>Tipo de usuario</label>
                    </th>

                    <th>
                        <label> Opciones</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            <h5 class="card-title">@user.DNI</h5>
                        </td>

                        <td>
                            <h5 class="card-title">@user.Name</h5>
                        </td>

                        <td>
                            <h5 class="card-title">@user.LastName</h5>
                        </td>
                        <td>
                            <h5 class="card-title">@user.Email</h5>
                        </td>
                        <td>
                            <h5 class="card-title">@user.UserType</h5>
                        </td>
                        <td>
                            <a asp-action="EditUser" asp-controller="Administrador" asp-route-id="@user.Id">Editar </a> |
                            <a asp-action="UserDetails" asp-controller="Administrador" asp-route-id="@user.Id">Detalles </a> |
                            <a asp-action="Disable" asp-controller="Administrador" asp-route-id="@user.Id">Deshabilitar </a>

                        </td>
                    </tr>

                }

            </tbody>
        </table>



    </div>
    </div>
    }
    else
    {
    <div class="card">
        <div class="card-header">
            No hay usuarios creados
        </div>
    </div>
    <div class="card-body">

        <a class="btn btn-outline-success" style="width:auto"
           asp-controller="Cuenta" asp-action="Register">Registro</a>
    </div>
    }


