@model IEnumerable<AsopaabiOnline.Modelo.HistorialPedido>

@{
    ViewBag.title = "Historial de Pedidos";
}


<h3 class="card-header text-center">@ViewBag.title</h3>


@if (Model.Any())
{

    @foreach (var historial in Model)
    {
        <div class="card">
            <div class="card-header">
                <p>Pedido  #@historial.IdPedidoNavigation.Id</p>
            </div>
            <div class="card-body">
                <label>Fecha de Pedido : @historial.IdPedidoNavigation.FechaPedido </label>
                <br />
                <label>Fecha de Entrega : @historial.IdPedidoNavigation.FechaEntrega </label>
                <br />
                <label>Estado : @historial.IdPedidoNavigation.Estado </label>
                <br />
                <label>Cliente </label>
                <br />
                <label>Nombre: @historial.IdPedidoNavigation.IdClienteNavigation.FullName</label>
                <br />
                <label>Cédula: @historial.IdPedidoNavigation.IdClienteNavigation.Dni</label>
                <br />
                <label>Teléfono: @historial.IdPedidoNavigation.IdClienteNavigation.PhoneNumber</label><br /><br />
                <a asp-action="Mostrar" asp-controller="Pagos" asp-route-id="@historial.IdPedido">Ver comprobante de pago</a>

            </div>
        </div>
        <br />
        <br />
    }


}
else
{

    <div class="card  col-md-11 m-5 w-100" >

        <div class="card-body text-center">

            <p class="card-title text-uppercase">No hay pedidos agregados</p>
            <a  asp-action="CarritoDeCompras" asp-controller="Home" class="btn btn-primary">Comprar</a>
        </div>
    </div>

   
}