@model IEnumerable<AsopaabiOnline.Modelo.HistorialPedido>

@{
    ViewBag.title = "Historial de Pedidos";
}

<h3>@ViewBag.title </h3>



@if (Model.Any())
{

    @foreach (var historial in Model)
    {
        <div class="card">
            <div class="card-header">
                <p>Pedido  #@historial.IdPedidoNavigation.Id</p>
            </div>
            <div class="card-body">
                <label>Fecha de Pedido : @historial.IdPedidoNavigation.FechaPedido </label>
                <br />
                <label>Fecha de Entrega : @historial.IdPedidoNavigation.FechaEntrega </label>
                <br />
                <label>Estado : @historial.IdPedidoNavigation.Estado </label>
                <br />
                <label>Cliente </label>
                <br />
                <label>Nombre: @historial.IdPedidoNavigation.IdClienteNavigation.FullName</label>
                <br />
                <label>Cédula: @historial.IdPedidoNavigation.IdClienteNavigation.Dni</label>
                <br />
                <label>Teléfono: @historial.IdPedidoNavigation.IdClienteNavigation.PhoneNumber</label><br /><br />
                <a asp-action="Mostrar" asp-controller="Pagos" asp-route-id="@historial.IdPedido">Ver comprobante de pago</a>

            </div>
        </div><br /><br />
    }
  

    }
else
{
    <h3> Aún no hay pedidos agregados</h3>
}