@model AsopaabiOnline.Modelo.Pedido


@{
    ViewBag.title = "Cambiar a estado en proceso";
}

<h1>@ViewBag.title </h1>


<div class="row justify-content-md-center">

</div>
<div class="card" style="margin-top:18px;">

    <div class="card-header">
        <h3 style="text-align:center;">¿Desea cambiar este pedido a estado en proceso?</h3>
    </div>


    <dl class="row m-4">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>


    </dl>
    <div class="card-footer">


        <form asp-action="CambiarAPedidoEnProceso" asp-controller="Pedidos">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Sí" class="btn btn-danger" style="width:50px;" /> 

            <a class="btn btn-secondary" asp-action="Mostrar">No</a>

        </form>
    </div>
</div>