@model AsopaabiOnline.Modelo.Pedido


@{
    ViewData["Title"] = "CambiarAPedidoFinalizado";
}

<h1>Estado</h1>
<hr />
<h3 style="text-align:center;">¿Desea cambiar este pedido a estado finalizado?</h3>

<div>

    <hr />
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>


    </dl>
    <hr />
    <form asp-action="CambiarAPedidoFinalizado" asp-controller="Pedidos">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sí" class="btn btn-outline-danger" style="width:50px;" />

        <a class="btn btn-outline-secondary" asp-action="Mostrar">No</a>

    </form>
</div>