@model IEnumerable<AsopaabiOnline.Modelo.Pedido>


@{
    ViewBag.Title = "Pedidos Recientes";
}


<h3>@ViewBag.Title</h3>
@if (!Model.Any())
{
    <hr />
    <br />
}

@if (Model.Any())
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaPedido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaEntrega)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDireccion)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.IdCliente)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPedido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaEntrega)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <label>Provincia: @item.IdDireccionNavigation.IdProvinciaNavigation.Nombre  </label>
                        <br />
                        <label>Cantón: @item.IdDireccionNavigation.IdCantonNavigation.Nombre  </label>
                        <br />
                        <label>Distrito: @item.IdDireccionNavigation.IdDistritoNavigation.Nombre  </label>
                        <br />
                        <label>Detalles: @item.IdDireccionNavigation.Detalles  </label>
                    </td>
                    <td>
                        <label>Cliente: @item.IdDireccionNavigation.IdClienteNavigation.FullName  </label>
                        <br />
                        <label>Cédula: @item.IdDireccionNavigation.IdClienteNavigation.Dni  </label>
                    </td>

                    <td>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a asp-action="Actualizar" asp-route-id="@item.Id">Actualizar</a></li>
                            <li class="list-group-item"><a asp-action="CambiarEstadoDePedido" asp-route-id="@item.Id">Cambiar estado de pedido</a></li>
                        </ul>


                    </td>

                </tr>
            }

        </tbody>


    </table>
    <hr />

    <br />
    <a class="btn btn-outline-secondary" asp-action="Mostrar">Volver</a>
}
else
{
    <h3>No hay pedidos recientes</h3>
    <a class="btn btn-outline-secondary" asp-action="Mostrar">Volver</a>
}