@model IEnumerable<AsopaabiOnline.Modelo.ClienteTelefono>


@{
    ViewBag.Title = "Teléfonos de Clientes";
}



<a>
    <h1>
        <img src="~/imagenes/Iconos/telefono.png" width="50" height="50" class="d-inline-block align-top" alt="">
        @ViewBag.Title
    </h1>
</a>
<hr />
@if (!Model.Any())
{
    <p> <a class="btn btn-outline-warning" asp-controller="TelefonosDeClientes" asp-action="Agregar" asp-route-id="@ViewBag.IdDelCliente">Agregar</a></p>
    <hr />
}

<br />




@if (Model.Any())
{

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdCliente)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Telefono1)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Telefono2)
                </th>




                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono2)
                    </td>


                    <td>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a asp-action="Actualizar" asp-route-id="@item.Id">Actualizar</a></li>
                            <li class="list-group-item"> <a asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a></li>
                        </ul>


                    </td>
                </tr>

            }

        </tbody>


    </table>
    <br />
    <a class="btn btn-outline-secondary" asp-controller="Clientes" asp-action="Mostrar"> Volver </a>


}
else
{

    <br />

    <h3> No hay teléfonos agregados para este cliente</h3>
    <br />

    <a class="btn btn-outline-secondary" asp-controller="Clientes" asp-action="Mostrar"> Volver </a>
}
