@model AsopaabiOnline.UI.Models.CartViewModel

@{
    ViewBag.title = "Carrito de Compras";
}

<h4>@ViewBag.title</h4>

<hr />
<div>
    <form action="/Home/GenerarPedido" method="post" id="formCarrito">

        <table class="table-responsive " style="table-layout: fixed;">
            <thead>
                <tr>
                    <th>
                        Producto
                    </th>
                    <th>

                        @Html.DisplayNameFor(model => model.producto.Precio)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.producto.Cantidad)

                    </th>
                    <th>
                        Opciones
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var producto in @ViewBag.cart)
                {
                    <tr>

                        <td>
                            <div class="col-2">
                                <label style="margin-right:1px;">

                                    <img class="card-img-bottom" src="~/imagenes/@producto.Imagen" asp-append-version="true" />
                                </label>
                            </div>

                        </td>

                        <td>
                            <div class="col-2">
                                @producto.Precio
                            </div>

                        </td>

                        <td>
                            <div class="col-2">
                                @producto.Cantidad
                            </div>
                        </td>

                        <td>

                            <a asp-action="QuitarDelCarrito" asp-controller="Home" asp-route-id="@producto.Id">
                                <img src="~/imagenes/Iconos/quitar.png" width="50" height="50" class="d-inline-block align-top" alt="">
                            </a>

                        </td>
                    </tr>


                }
            </tbody>


        </table>

        <hr />
        <h5>Total :   @ViewBag.total</h5>
        <br />
        <hr />
        <partial model="Model.pedido" name="~/Views/Shared/_PedidoPartial.cshtml" />
        <button id="btn_generar_pedido"  class="btn btn-info">Generar pedido></button>

    </form>
    <script type="text/javascript">
        $(function () {
            $("#btn_generar_pedido").click(function () {
              
                $.ajax({
                    type: "POST",
                    url: "/Home/GenerarPedido",
                    data: $('#formCarrito').serialize(),
                    success: function (response) {
                        alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                   }
                });
            });
        });
    </script>
</div>

