@model AsopaabiOnline.UI.Models.CartViewModel

@{
    ViewBag.title = "Carrito de Compras";
}

<h4>@ViewBag.title</h4>


<div class="card">
    <div style="margin:15px;">
        <form action="/Home/GenerarPedido" method="post" id="formCarrito">
            <table class="table table-stripedd">
                <thead>
                    <tr>
                        <th scope="col" width="200px">
                            Producto
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.producto.Precio)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.producto.Cantidad)
                        </th>
                        <th scope="col">
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var producto in @ViewBag.cart)
                    {
                        <tr>
                            <td>
                                <div>
                                    <label style="margin-right:1px;">
                                        <img class="card-img-bottom" src="~/imagenes/@producto.Imagen" asp-append-version="true" />

                                    </label>
                                </div>
                            </td>
                            <td>
                                @producto.Precio
                            </td>
                            <td>
                                @producto.Cantidad
                            </td>

                            <td>

                                <a  asp-action="QuitarDelCarrito" asp-controller="Home" asp-route-id="@producto.Id"><i class="fas fa-trash text-danger"></i>
                                </a>

                            </td>


                        </tr>
                    }

                </tbody>

            </table>
            @if (Enumerable.Count(@ViewBag.cart) < 1)
            {
                <h4 style="text-align:center;">No hay productos en el carrito</h4>

            }
            <hr />
            <input hidden value="@ViewBag.total" name="total" class="form-control" />
            <h5>Total :   @ViewBag.total</h5>
            <br />
            <hr />
            <partial model="Model.pedido" name="~/Views/Shared/_PedidoPartial.cshtml" />
            <button style="margin-top:5%;" id="btn_generar_pedido" type="submit" class="btn btn-info  btn-block">Generar pedido</button>

        </form>
    </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $("formCarrito").submit(function () {
              
                $.ajax({
                    type: "POST",
                    url: "/Home/GenerarPedido",
                    data: $('#formCarrito').serialize(),
                    success: function (response) {
                        alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                   }
                });
            });
        });
    </script>


