@model List<AsopaabiOnline.Modelo.Producto>
@using AsopaabiOnline.Modelo
@{
    ViewData["Title"] = "Inicio";
 
}

<div class="container">
   
    <div class="row">

        @for (int product = 0; product < Model.Count; product++)
        {
            var estadoProductoClass = "";
            if (Model[product].Estado == EstadoDeProducto.Disponible)
            {
                estadoProductoClass = "badge badge-pill badge-success";
            }
            if (Model[product].Estado == EstadoDeProducto.NoDisponible)
            {
                estadoProductoClass = "badge badge-pill badge-danger";
            }
            if (Model[product].Estado == EstadoDeProducto.EnOferta)
            {
                estadoProductoClass = "badge badge-pill badge-info";
            }
        <form class="col-4" action="AñadirAlCarrito" method="post" >
            <div style="margin:5px;">
                <div class="card">
                    <img class="card-img-top" height="200" src="~/imagenes/@Model[product].Imagen" asp-append-version="true" />
                    <div class="card-body">
                        <h5 name="@Model[product].Nombre" class="card-title">@Model[product].Nombre  </h5>
                        @ViewBag.simboloDeColon  @Model[product].Precio
                        <p class="card-text">@Model[product].UnidadDeMedida</p>

                       

                        <input required disabled="@(Model[product].Estado == AsopaabiOnline.Modelo.EstadoDeProducto.NoDisponible)" id="@product" name="cantidad" min="0" style="width:50px;float:right; right:0;" type="number"
                               data-toggle="tooltip" data-placement="top" title="cantidad a comprar" />

                        <div>

                            <button disabled="@(Model[product].Estado == AsopaabiOnline.Modelo.EstadoDeProducto.NoDisponible)" style="float:right; right:0; margin-right:5px;" type="submit" asp-controller="home" asp-action="AñadirAlCarrito" asp-route-id="@Model[product].Id" class="btn btn-primary rounded-circle"
                                    data-toggle="tooltip" data-placement="top" title="Añadir al carrito">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span >
                            Estado:<span class="@estadoProductoClass"> @Model[product].Estado.ToString()</span>
                        </span><small class="text-muted"></small>
                    </div>
                </div>
            </div>
        </form>
        }
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

   <script>
       $(document).ready(function () {
           console.log($("#product").val())
           function addToCart() {
               $.ajax({
                   type: "POST",
                   url: "/Home/AddToCart",
                   data: { product: JSON.stringify("") },
                   success: function (data) {
                       

                   }
               });
           }
       });
   </script>
}


