@model   IEnumerable<AsopaabiOnline.Modelo.Pago>

@using AsopaabiOnline.Modelo
@{
    ViewBag.title = "Pago";
}

<h3>@ViewBag.title </h3>



@if (Model.Any())
{
    @foreach (var historial in Model)
    {
        <div class="card text-center" id="pago">
            <div class="card-header">
                Comprobante de pago #@historial.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">Detalles del Pago</h5>
                <label>Cliente: @historial.IdPedidoNavigation.IdClienteNavigation.FullName </label>
                <p class="card-text">
                    @Html.DisplayFor(modelItem => historial.OpcionesDePago)&nbsp;&nbsp;<i class="@(historial.OpcionesDePago == OpcionesDePago.Efectivo ? "fas fa-money-bill-alt text-success":"fas fa-university text-primary")"></i>
                </p>



                <a asp-action="MostrarDetalles" asp-controller="DetallePedido" asp-route-id="@historial.IdPedidoNavigation.Id">Ver detalles</a>
            </div>
            <div class="card-footer text-muted">
                Total: @Html.DisplayFor(modelItem => historial.Monto)
            </div>

        </div>
    }
}
else
{
    <h3> Aún no hay pagos agregados</h3>
}



