@{
    ViewBag.title = "Cambiar categoría";
}
<hr />
<h1>@ViewBag.title del producto a: </h1>
<hr />

<nav class="nav flex-column">


    <a class="nav-link active" asp-action="CategoriaFrutas" asp-controller="Productos"  asp-route-id="@ViewBag.IdDeproducto"> • Frutas</a>
    <a class="nav-link" asp-action="CategoriaHortalizas" asp-controller="Productos"  asp-route-id="@ViewBag.IdDeproducto"> • Hortalizas</a>
    <a class="nav-link" asp-action="CategoriaRaicesYTuberculos" asp-controller="Productos"   asp-route-id="@ViewBag.IdDeproducto">• Raíces y Tubérculos</a>
    <a class="nav-link" asp-action="CategoriaFloresAromaticas" asp-controller="Productos"   asp-route-id="@ViewBag.IdDeproducto">• Flores Aromáticas</a>
    <a class="nav-link" asp-action="CategoriaOtro" asp-controller="Productos"   asp-route-id="@ViewBag.IdDeproducto">• Otro</a>
</nav>
<br />
<hr />
<a class="btn btn-outline-secondary" asp-action="Mostrar">Volver</a>