@model AsopaabiOnline.Modelo.Producto


@{
   ViewBag.Title = "Eliminar";
}

<h1>@ViewBag.Title</h1>



<div class="card  text-center w-50" style="margin:30px;">

    <div class="card-header">
        <h3 style="text-align:center;">¿Está seguro que desea eliminar este producto?</h3>
    </div>

    <img class="img-thumbnail m-2" src="~/imagenes/@Model.Imagen" asp-append-version="true" />

    <div class="card-body">
        <dl class="row">


            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UnidadDeMedida)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UnidadDeMedida)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>



        </dl>
    </div>
    <div class="card-footer">

        <button class="btn btn-danger" data-toggle="modal" data-target="#eliminar">Eliminar</button>

        <a class="btn btn-secondary" asp-action="Mostrar">Cancelar</a>



        <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle"> Eliminar producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estas seguro que desea eliminar el producto con el código @Model.Id ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                        <form asp-action="Eliminar" asp-controller="Empleados">
                            <input type="hidden" asp-for="Id" />
                            <button type="submit" class="btn btn-primary">SI</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>