@model AsopaabiOnline.Modelo.Cliente


@{
   ViewBag.Title = "Eliminar";
}

<h1>@ViewBag.Title</h1>
<hr />
<h3 style="text-align:center;">¿Está seguro que desea eliminar este cliente?</h3>

<div>
    
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDeNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoDeCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoActividad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoActividad)
        </dd>
        
        <div style="color:red;">
            @ViewBag.mensaje
        </div>
    </dl>
    <hr />
    <form asp-action="Eliminar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sí" class="btn btn-outline-danger" style="width:50px;" />
        
            <a class="btn btn-outline-secondary" asp-action="Mostrar">No</a>
       
    </form>
</div>