@model AsopaabiOnline.UI.Models.User



@{
    ViewBag.Title = "Eliminar Cuenta";
}

<h1>@ViewBag.Title</h1>
<hr />
<h3 style="text-align:center;">¿Está seguro que desea eliminar su cuenta de ASOPAABI ONLINE?</h3>

<div>

    <hr />
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DNI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber2)
        </dd>
    </dl>
    <hr />
    <form asp-action="EliminarCuenta" asp-controller="Clientes">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sí" class="btn btn-outline-danger" style="width:50px;" />

        <a class="btn btn-outline-secondary" asp-action="Perfil" asp-route-id="@User.Identity.Name">No</a>

    </form>
</div>