@model IEnumerable<AsopaabiOnline.UI.Models.User>

@{
    ViewBag.Title = "Perfil";

}

<h1>@ViewBag.Title</h1>

<br />
@if (Model.Any())
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    <label>DNI</label>
                </th>
                <th>
                    <label>Nombre</label>
                </th>
                <th>
                    <label>Apellido</label>
                </th>
                

                <th>
                    <label> Opciones</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <h5 class="card-title">@user.DNI</h5>
                    </td>

                    <td>
                        <h5 class="card-title">@user.Name</h5>
                    </td>

                    <td>
                        <h5 class="card-title">@user.LastName</h5>
                    </td>
                   
                    <td>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item"> <a asp-action="EditarPerfil" asp-controller="Cliente"  asp-route-id="@user.Id">Editar perfil </a></li>
                            <li class="list-group-item"> <a asp-action="VerDetalles" asp-controller="Cliente" asp-route-id="@user.Id">Ver detalles </a></li>
                        </ul>

                    </td>
                </tr>

            }

        </tbody>
    </table>


}
else
{
    <div class="card">
        <div class="card-header">
            No hay usuarios creados
        </div>
    </div>
    <div class="card-body">

        <a class="btn btn-outline-success" style="width:auto"
           asp-controller="Cuenta" asp-action="Register">Reegistro</a>
    </div>
}
