@model AsopaabiOnline.UI.Models.User

@{
    ViewBag.Title = "Perfil";

}



<div class="row justify-content-md-center">
    <div class="card w-75 ">
        <div class="card-header">
            <h3 class="card-title "> @ViewBag.Title</h3>

        </div>

        <div class="card-body text-center">
            <br />
            <h5 class="card-title ">Información del perfil</h5>
            <br />
            <p class="card-text">Cedula: @Html.DisplayFor(model => model.DNI)</p>
            <p class="card-text">
                Nombre: @Html.DisplayFor(model => model.Name)
            </p>
            <p class="card-text">
                Apellidos: @Html.DisplayFor(model => model.LastName)
            </p>

            <div class="flex-row">

                <a asp-action="VerDetalles" asp-controller="Clientes" asp-route-id="@User.Identity.Name" class="btn btn-lg"
                   data-toggle="tooltip" data-placement="top" title="ver detalles"> <i class="fas fa-search-plus text-info"></i></a> |
                <a asp-action="EditarPerfil" asp-controller="Clientes" asp-route-id="@User.Identity.Name" class="btn btn-lg"
                   data-toggle="tooltip" data-placement="top" title="Actualizar"><i class="fas fa-user-edit text-success"></i></a>
               
            </div>
        </div>

        <div class="card-footer text-center">
            <a asp-action="ChangePassword" asp-controller="Clientes" class="btn btn-warning btn-lg">Cambiar contraseña </a>
            <a class="btn btn-info btn-lg" asp-controller="DireccionesParaPedidos" asp-action="Mostrar">
                <i class="fas fa-map-marked-alt"></i> Dirección
            </a>
        </div>
    </div>

</div>


